/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/.umi
/.umi-production
/.umi-test
/dist
/.mfsu
.swc

public/*.ics
public/games
public/games.json
public/games_fixed.json
public/assets/fonts/MiSans
